@using Lydia.Components
@using Lydia.Data
@inject IDialogService DialogService

<MudContainer Class="mt-16">
    <MudStack>
        <MudStack>
            <MudText Typo="Typo.h2" Align="Align.Center">Copper, Tin, Wood and Canvas Art</MudText>
            <MudButton @onclick="() => OpenDialogAsync(1)">
                <MudImage loading="lazy" Src="1.webp" Style="max-height: 60%; max-width: 40%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.h1">Welcome</MudText>
            <MudText Typo="Typo.body1">
                This site is dedicated to my lovely mother who had an artistic flare, she passed away in 2018.
                There's much
                to see here. Her love for art. So, take your time, look around, all there is to know about her
                passion. I
                hope you enjoy the site and take a moment to drop me a line.
            </MudText>
            <MudText Typo="Typo.body2">
                Lydia Kokline
            </MudText>
            <MudText Typo="Typo.body2">
                <a href="mailto:lkokline@gmail.com">lkokline@gmail.com</a>
            </MudText>
            <MudText Typo="Typo.body2">
                613-323-2941
            </MudText>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h1">About the Artist</MudText>
            <MudButton @onclick="() => OpenDialogAsync(20)">
                <MudStack>
                    <MudImage loading="lazy" Width="500" Style="max-width: 50%" Src="2.1.webp"
                              Class="m-auto"></MudImage>
                    <MudStack>
                        <MudText Typo="Typo.h2" Align="Align.Left">Her Background</MudText>
                        <MudText Typo="Typo.body1" Align="Align.Left">
                            Having studied at Brussels "Academie Royale des Beaux Arts" three years under Master G.
                            de Vlamyneck, she won a first prize, awarded her by the Burgomaster of the City of
                            Brussels in 1949.
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudButton>
            <MudButton @onclick="() => OpenDialogAsync(9)">
                <MudStack AlignItems="AlignItems.Start">
                    <MudImage loading="lazy" Width="500" Style="width: 500px; max-width: 50%" Src="2.2.webp"
                              Class="m-auto"></MudImage>
                    <MudStack>
                        <MudText Typo="Typo.h2" Align="Align.Left">Her Medium</MudText>
                        <MudText Typo="Typo.body1" Align="Align.Left">
                            She used many different mediums, such as poker-works, wood-sculpturing, oils, copper,
                            tin
                            acrylics on canvas and water colors . She believes that working in a single medium was
                            restrictive to her artistic process.
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudButton>
            <MudButton @onclick="() => OpenDialogAsync(12)">
                <MudStack>
                    <MudImage loading="lazy" Width="500" Style="max-width: 50%" Src="2.3.webp"
                              Class="m-auto"></MudImage>
                    <MudStack>
                        <MudText Typo="Typo.h2" Align="Align.Left">Her Inspiration</MudText>
                        <MudText Typo="Typo.body1" Align="Align.Left">
                            She enjoyed her art. Some of her inspiration came from visions in frosted windows,
                            trees,
                            flowers and her beliefs, which she would replicate them into paintings.
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudButton>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h1">Background</MudText>
            <MudButton @onclick="() => OpenDialogAsync(3)">
                <MudImage loading="lazy" Src="3.webp" Style="max-height: 60%; max-width: 40%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.h2">Self portrait when she was 25 years old - water colours</MudText>
            <MudText Typo="Typo.body1">
                Mrs. Elena Kokline has exhibited at the following places:
                <br/>
                <ul>
                    <li>Palais Montcalm - Québec city - December 1971</li>
                    <li>West Africa - Sénégal - January 1974</li>
                    <li>Glebe centre - Ottawa - March 1976</li>
                </ul>
            </MudText>
        </MudStack>


        <MudStack>
            <MudButton @onclick="() => OpenDialogAsync(4)">
                <MudImage loading="lazy" Src="4.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.subtitle1">Graduation day</MudText>
            <MudText Typo="Typo.h2">History</MudText>
            <MudText Typo="Typo.body1">
                <ul>
                    <li>Born in Lithuanie - Kaunas - 1923</li>
                    <li>Spoke 7 languages</li>
                    <li>February 1949, she got married to a Doctor who majored in chemistry/physics and graduated
                        from the Catholic University of Louvain
                    </li>
                    <li>Together they immigrated to Canada in 1951</li>
                    <li>They had 5 children. All girls have inherited the artistic flare</li>
                </ul>
            </MudText>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h1">Portfolio - History</MudText>
            <MudButton @onclick="() => OpenDialogAsync(5)">
                <MudImage loading="lazy" Src="5.webp" Style="max-width: 66%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.body2">
                "Mme Elèna Kokline et sa dernière toile qui symbolise ses amours et ses impression du Sénégal: le
                baobab, le soleil l'antilope et la biche sculptée. En observan bien les branches du baobab vous
                decouvriez les tête d'antilopes et de biches qu'une main parfois étreint. Cette main est cell de
                l'artiste." — <b>News paper clipping, 1974</b>
            </MudText>
        </MudStack>


        <MudStack>
            <MudButton @onclick="() => OpenDialogAsync(6)">
                <MudImage loading="lazy" Src="6.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.body1">
                Diploma - Ville de Brusxelles. Academie royale des beaux-arts et école des arts décoratifs. Was
                awarded to her by the Burgomaster of the City of Brussels in 1949.
            </MudText>
        </MudStack>


        <MudStack>
            <MudButton @onclick="() => OpenDialogAsync(7)">
                <MudImage loading="lazy" Src="7.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.body2">
                "The works of a Neo-Canadian artist - Article read as: Mrs. Elena Kokline a Neo-Canadian artist who
                only recently exhibited her latest works at the Palais Montcalm. Having studied at Brusels "Academie
                Royal des beaux Arts". She has been residing in Quebec since 1951, and thus, has had her stylish and
                decorative works - most symbolic - before the public for some 20 years. She excels in poker-works,
                wood-sculpturing, oils, copper tin and water-colors." — <b>News paper clipping, 1971</b>
            </MudText>
        </MudStack>

        @foreach (var painting in Data.Paintings)
        {
            <MudStack>
                <SectionPainting Painting="@painting"/>
            </MudStack>
        }

        <MudStack>
            <MudText Typo="Typo.h1">Tools</MudText>
            <MudButton @onclick="() => OpenDialogAsync(34.1)">
                <MudStack>
                    <MudImage loading="lazy" Width="500" Style="max-width: 50%" Src="34.1.webp"
                              Class="m-auto"></MudImage>
                    <MudStack>
                        <MudText Typo="Typo.h2" Align="Align.Left">X-acto knifes and tools</MudText>
                        <MudText Typo="Typo.body1" Align="Align.Left">
                            The tools used by my mom when she was creating her artwork. Many hours spent using those
                            tools and no injuries ... well none that I knew of.
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudButton>
            <MudButton @onclick="() => OpenDialogAsync(34.2)">
                <MudStack AlignItems="AlignItems.Start">
                    <MudImage loading="lazy" Width="500" Style="width: 500px; max-width: 50%" Src="34.2.webp"
                              Class="m-auto"></MudImage>
                    <MudStack>
                        <MudText Typo="Typo.h2" Align="Align.Left">Price list in 1956</MudText>
                        <MudText Typo="Typo.body1" Align="Align.Left">
                            Back in the good old days! That's what you call prices.  Today the prices start at $4.00
                            and up for one x-acto knife.
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudButton>
        </MudStack>


        <MudStack>
            <MudButton @onclick="() => OpenDialogAsync(35)">
                <MudImage loading="lazy" Src="35.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.body1">
                Instruction sheet, cropped to size.
            </MudText>
            <MudText Typo="Typo.body1">
                Things to do with your x-acto knives and tools.
            </MudText>
            <MudText Typo="Typo.body1">
                Original wooden box of x-acto knifes. Survived all those years and more to go.
            </MudText>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h1">
                Carving knifes
            </MudText>
            <MudText Typo="Typo.body1">
                Some additional tools that she used. Metal files, poker-knife and even a sharp screwdriver.
            </MudText>
            <MudStack>
                <MudButton @onclick="() => OpenDialogAsync(36.1)">
                    <MudImage loading="lazy" Width="800" Style="max-width: 50%" Src="36.1.webp"
                              Class="m-auto"></MudImage>
                </MudButton>
                <MudButton @onclick="() => OpenDialogAsync(36.2)">
                    <MudImage loading="lazy" Width="800" Style="max-width: 50%" Src="36.2.webp"
                              Class="m-auto"></MudImage>
                </MudButton>
            </MudStack>
            <MudText Typo="Typo.body1">
                Carving Knifes still as good as new and very sharp. Used on all the woodwork she did.
            </MudText>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h1">
                Embossed tools
            </MudText>
            <MudButton @onclick="() => OpenDialogAsync(37)">
                <MudImage loading="lazy" Style="max-width: 50%" Src="37.webp" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.body1">
                These are the tools that she used, when she used the push-back method on copper and tin. 
            </MudText>
            <MudText Typo="Typo.body1">
                I say push-back because it took a lot of energy pushing the copper or tin on a semi-soft surface for
                every detail and definition to protrude without going through the copper or tin. 
            </MudText>
        </MudStack>


        <MudStack>
            <MudText Typo="Typo.h2">No longer available</MudText>
            <MudButton @onclick="() => OpenDialogAsync(38.1)">
                <MudImage loading="lazy" Src="38.1.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudButton @onclick="() => OpenDialogAsync(38.2)">
                <MudImage loading="lazy" Src="38.2.webp" Style="max-width: 50%" Class="m-auto"></MudImage>
            </MudButton>
            <MudText Typo="Typo.subtitle1" Align="Align.Center">Querelle / Quarrel</MudText>
        </MudStack>

    </MudStack>
</MudContainer>


@code {

    private Task OpenDialogAsync(double imageId)
    {
        var parameters = new DialogParameters<ImageDialog>
        {
            { x => x.ImageId, imageId }
        };

        var options = new DialogOptions { FullScreen = true, CloseButton = true, CloseOnEscapeKey = true };

        return DialogService.ShowAsync<ImageDialog>("", parameters, options);
    }

}