@inherits LayoutComponentBase
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@* Required *@
<MudThemeProvider Theme="@MyCustomTheme"/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>


@code {

    readonly MudTheme MyCustomTheme = new()
    {
        Typography = new Typography
        {
            H1 = new H2Typography
            {
                FontSize = "2.00rem"
            },
            H2 = new H2Typography
            {
                FontSize = "1.65rem"
            }
        }
    };

}